{% extends 'base.html' %}
{% block title %}
    About
{% endblock %}
{% block content %}
    <h3 style = "color: #fff;">About Us</h3>
    <p style = "color: #fff;">Welcome to Infinity Warriors, your number one source for Indian game. We're dedicated to providing you the best game made in India, with an emphasis on making Indian Games, with good modes, and with lots of things to do.
        Founded in 2021 by <a href="https://discord.gg/Pxd8Cb2H" style = "color: #fff;">Prantik Paul</a>, Infinity Warriors has a lots of gaming fun which you can enjoy for free just go on <a href="{{ url_for('download') }}" style = "color: #fff;">Download</a>. When Prantik Paul first started out, his passion for game development noone helped him but with his small team he drove them to start their own business.
        We hope you enjoy our products as much as we enjoy offering them to you.<br>

        Sincerely,<br>
        Prantik Paul</p>
    <h3 style = "color: #fff;">Follow us on </h3>
    <a href="https://www.youtube.com/channel/UCvLWB5zOpVbJboLDcOAFE0w" style = "color: #fff; font-size: 30px;"><i class="fab fa-youtube"></i></a>
    <a href="https://discord.gg/Pxd8Cb2H" style = "color: #fff; font-size: 30px;"><i class="fab fa-discord"></i></a>
{% endblock content %}